<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>nh-mvp</title>
    <script type="module" src="./dist/index.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script>
      function wat(elmt) {
        alert(elmt.value);
      }
    </script>
</head>

<body>
  <header id="top">        
    <div id="h-corner-logo" ></div>
    <a href="#top">
        <img id="logo" src="imgs/nh-logo.svg" alt="nh-logo"/>
    </a>

    <div id="h-main">
        <h1>Memeable Viable Product 1.0</h1>
    </div>
    <img id="h-corner-r" src="imgs/corner-r.svg">
</header>

  <section id="general-wrapper">
  <div id="app">
    <div class="container">
      <!--UPLOAD-->
      <form enctype="multipart/form-data" novalidate v-if="isInitial || isSaving">
        <h3 class='subtitle'>upload memes</h3>
        <div class="dropbox">
          <input type="file" :disabled="isSaving" @change="save($event.target.files[0]);"
            accept="image/*" class="input-file">
            <p v-if="isInitial">
              drag your meme(z) here to begin<br> or click to browse
            </p>
            <p v-if="isSaving">
              uploading meme...
            </p>
        </div>
      </form>
  </div>

  <details>
    <summary>custom score</summary>
  <div>
    <form id="custom_score" @submit.prevent="handleScoreCompSubmit">
      <label for="name">name</label> <br>
      <input type="name" id="name" v-model="scoreCompCreateForm.name" required />
      <br>
      <br>
      <label for="comp">expression</label>
      <br>
      <textarea
        id="comp"
        cols="28"
        rows="10"
        v-model="scoreCompCreateForm.comp"
        required
      ></textarea>
      <br>
      <button type="submit">submit</button>
    </form>
  </div>
  </details>

  <div>
    <label class="subtitle" for="score_comps">choose a score computation</label>
    <div id="score_comps">
      <label v-for="scoreComp in scoreComps">
        <input
          type="radio"
          :value="scoreComp.ie_hh"
          :checked="selectedScoreCompHash == scoreComp.nsc_eh"
          @change="set_score_comp(scoreComp.nsc_eh)"
        >
        {{scoreComp.name}}
        </br>
      </label>
    </div>
  </div>

  <button id="refresh" v-on:click="get_memez()">&#8635;</button>

  <div class="container">
    <div v-for="score_comp in scoreComps">
        {{ score_comp.expr }}
    </div>
    <div v-for="meme in memez" class="uploaded-meme">
        <img style="max-width: 100%;" v-bind:src="`${meme.meme_string}`">
        Score: {{ meme.opt_score ?? "null" }}
        <button v-on:click="react(meme.eh, 'lulz')">😂 {{count_reaction(meme.aggregated_reactions, 0)}}</button>
        <button v-on:click="react(meme.eh, 'mbz')">🤯 {{count_reaction(meme.aggregated_reactions, 1)}}</button>
    </div>
  </div>

  <div>
    <form id="hc_ports" @submit.prevent="handleHcPortSubmit">
      <input type="number" v-model="hcAppPort" required />
      <input type="number" v-model="hcAdminPort" required />
      <button type="submit">submit</button>
    </form>
  </div>
</section>
</body>

</html>
