<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>nh-paper-widget</title>
    <script type="module" src="./dist/index.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
  <header id="top">
    <div id="h-corner-logo" ></div>
    <a href="#top">
        <img id="logo" src="imgs/nh-logo.svg" alt="nh-logo"/>
    </a>

    <div id="h-main">
        <h1>nh-paper-widget 0.1</h1>
    </div>
    <img id="h-corner-r" src="imgs/corner-r.svg">
</header>

  <section id="general-wrapper">
  <div id="app">
    <div class="container">
      <!--UPLOAD-->
      <form enctype="multipart/form-data" novalidate v-if="isInitial || isSaving"  @submit.prevent="handlePaperSubmit($event);">
        <h3 class='subtitle'>upload paper</h3>
        <div class="dropbox">
          <input type="file" multiple :disabled="isSaving" accept=".pdf" class="input-file">
          <p v-if="isInitial">
            drag your paper here to begin<br> or click to browse
          </p>
          <p v-if="isSaving">
            uploading paper...
          </p>
          title: <input type="text" v-model="paper_upload_title" required /> <br>
          <button type="submit">submit</button>
        </div>
      </form>
  </div>

  <details>
    <summary>holochain ports</summary>
  <div class='form_class'>
    <form id="hc_ports" @submit.prevent="handleHcPortSubmit">
      <input type="number" v-model="hcAppPort" required /> <br>

      <input type="number" v-model="hcAdminPort" required /> <br>
      <br>
      <button type="submit">submit</button>
    </form>
  </div>
</details>

</section>
</body>

</html>
